<html>
    <head>
        <title>
            Project 3
        </title>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <form id="form" method="post">
            {% csrf_token %}
            <select id="selected-order" name="selected-order" onchange='if(this.value != "Choose your order") setOrder();'>
                <option value="Choose your order">Choose your order</option>
                <option value="Regular Pizza">Regular Pizza</option>
                <option value="Sicilian Pizza">Sicilian Pizza</option>
                <option value="Subs">Subs</option>
                <option value="Pasta">Pasta</option>
                <option value="Salad">Salad</option>
                <option value="Dinner Platters">Dinner Platters</option>
            </select>
            <script id="regular-pizza-type" type="text/x-handlebars-template">
            <select id="selected-regular-pizza-type-order" name="selected-regular-pizza-type-order" onchange='if(this.value != "Choose your regular pizza type") setRegularPizzaType();'>
                <option value="Choose your regular pizza type">Choose your regular pizza type</option>
                <option value="C">Cheese</option>
                <option value="1">1 topping</option>
                <option value="2">2 toppings</option>
                <option value="3">3 toppings</option>
                <option value="S">Special</option>
            </select>
            </script>
            <script id="regular-pizza-topping-1" type="text/x-handlebars-template">
            <select id="selected-regular-pizza-topping-1-order" name="selected-regular-pizza-topping-1-order">
                <option value="Choose your regular pizza topping 1">Choose your regular pizza topping 1</option>
                <option value="Pepperoni">Pepperoni</option>
                <option value="Sausage">Sausage</option>
                <option value="Mushrooms">Mushrooms</option>
                <option value="Onions">Onions</option>
                <option value="Canadian Bacon">Canadian Bacon</option>
                <option value="Pineapple">Pineapple</option>
                <option value="Eggplant">Eggplant</option>
                <option value="Tomato & Basil">Tomato & Basil</option>
                <option value="Green Peppers">Green Peppers</option>
                <option value="Hamburger">Hamburger</option>
                <option value="Spinach">Spinach</option>
                <option value="Artichoke">Artichoke</option>
                <option value="Buffalo Chicken">Buffalo Chicken</option>
                <option value="Barbecue Chicken">Barbecue Chicken</option>
                <option value="Anchovies">Anchovies</option>
                <option value="Black Olives">Black Olives</option>
                <option value="Fresh Garlic">Fresh Garlic</option>
                <option value="Zucchini">Zucchini</option>
            </select>
            </script>
            <script id="regular-pizza-topping-2" type="text/x-handlebars-template">
            <select id="selected-regular-pizza-topping-2-order" name="selected-regular-pizza-topping-2-order">
                <option value="Choose your regular pizza topping 2">Choose your regular pizza topping 2</option>
                <option value="Pepperoni">Pepperoni</option>
                <option value="Sausage">Sausage</option>
                <option value="Mushrooms">Mushrooms</option>
                <option value="Onions">Onions</option>
                <option value="Canadian Bacon">Canadian Bacon</option>
                <option value="Pineapple">Pineapple</option>
                <option value="Eggplant">Eggplant</option>
                <option value="Tomato & Basil">Tomato & Basil</option>
                <option value="Green Peppers">Green Peppers</option>
                <option value="Hamburger">Hamburger</option>
                <option value="Spinach">Spinach</option>
                <option value="Artichoke">Artichoke</option>
                <option value="Buffalo Chicken">Buffalo Chicken</option>
                <option value="Barbecue Chicken">Barbecue Chicken</option>
                <option value="Anchovies">Anchovies</option>
                <option value="Black Olives">Black Olives</option>
                <option value="Fresh Garlic">Fresh Garlic</option>
                <option value="Zucchini">Zucchini</option>
            </select>
            </script>
            <script id="regular-pizza-topping-3" type="text/x-handlebars-template">
            <select id="selected-regular-pizza-topping-3-order" name="selected-regular-pizza-topping-3-order">
                <option value="Choose your regular pizza topping 3">Choose your regular pizza topping 3</option>
                <option value="Pepperoni">Pepperoni</option>
                <option value="Sausage">Sausage</option>
                <option value="Mushrooms">Mushrooms</option>
                <option value="Onions">Onions</option>
                <option value="Canadian Bacon">Canadian Bacon</option>
                <option value="Pineapple">Pineapple</option>
                <option value="Eggplant">Eggplant</option>
                <option value="Tomato & Basil">Tomato & Basil</option>
                <option value="Green Peppers">Green Peppers</option>
                <option value="Hamburger">Hamburger</option>
                <option value="Spinach">Spinach</option>
                <option value="Artichoke">Artichoke</option>
                <option value="Buffalo Chicken">Buffalo Chicken</option>
                <option value="Barbecue Chicken">Barbecue Chicken</option>
                <option value="Anchovies">Anchovies</option>
                <option value="Black Olives">Black Olives</option>
                <option value="Fresh Garlic">Fresh Garlic</option>
                <option value="Zucchini">Zucchini</option>
            </select>
            </script>
            <script id="regular-pizza-size" type="text/x-handlebars-template">
            <select id="selected-regular-pizza-size-order" name="selected-regular-pizza-size-order" onchange='if(this.value != "Choose your size") setRegularPizzaSize();'>
                <option value="Choose your size">Choose your size</option>
                <option value="SM">Small</option>
                <option value="LR">Large</option>
            </select>
            </script>
            <script id="sicilian-pizza-type" type="text/x-handlebars-template">
            <select id="selected-sicilian-pizza-type-order" name="selected-sicilian-pizza-type-order" onchange='if(this.value != "Choose your sicilian pizza type") setSicilianPizzaType();'>
                <option value="Choose your sicilian pizza type">Choose your sicilian pizza type</option>
                <option value="C">Cheese</option>
                <option value="1">1 topping</option>
                <option value="2">2 toppings</option>
                <option value="3">3 toppings</option>
                <option value="S">Special</option>
            </select>
            </script>
            <script id="sicilian-pizza-topping-1" type="text/x-handlebars-template">
            <select id="selected-sicilian-pizza-topping-1-order" name="selected-sicilian-pizza-topping-1-order">
                <option value="Choose your sicilian pizza topping 1">Choose your sicilian pizza topping 1</option>
                <option value="Pepperoni">Pepperoni</option>
                <option value="Sausage">Sausage</option>
                <option value="Mushrooms">Mushrooms</option>
                <option value="Onions">Onions</option>
                <option value="Canadian Bacon">Canadian Bacon</option>
                <option value="Pineapple">Pineapple</option>
                <option value="Eggplant">Eggplant</option>
                <option value="Tomato & Basil">Tomato & Basil</option>
                <option value="Green Peppers">Green Peppers</option>
                <option value="Hamburger">Hamburger</option>
                <option value="Spinach">Spinach</option>
                <option value="Artichoke">Artichoke</option>
                <option value="Buffalo Chicken">Buffalo Chicken</option>
                <option value="Barbecue Chicken">Barbecue Chicken</option>
                <option value="Anchovies">Anchovies</option>
                <option value="Black Olives">Black Olives</option>
                <option value="Fresh Garlic">Fresh Garlic</option>
                <option value="Zucchini">Zucchini</option>
            </select>
            </script>
            <script id="sicilian-pizza-topping-2" type="text/x-handlebars-template">
            <select id="selected-sicilian-pizza-topping-2-order" name="selected-sicilian-pizza-topping-2-order">
                <option value="Choose your sicilian pizza topping 2">Choose your sicilian pizza topping 2</option>
                <option value="Pepperoni">Pepperoni</option>
                <option value="Sausage">Sausage</option>
                <option value="Mushrooms">Mushrooms</option>
                <option value="Onions">Onions</option>
                <option value="Canadian Bacon">Canadian Bacon</option>
                <option value="Pineapple">Pineapple</option>
                <option value="Eggplant">Eggplant</option>
                <option value="Tomato & Basil">Tomato & Basil</option>
                <option value="Green Peppers">Green Peppers</option>
                <option value="Hamburger">Hamburger</option>
                <option value="Spinach">Spinach</option>
                <option value="Artichoke">Artichoke</option>
                <option value="Buffalo Chicken">Buffalo Chicken</option>
                <option value="Barbecue Chicken">Barbecue Chicken</option>
                <option value="Anchovies">Anchovies</option>
                <option value="Black Olives">Black Olives</option>
                <option value="Fresh Garlic">Fresh Garlic</option>
                <option value="Zucchini">Zucchini</option>
            </select>
            </script>
            <script id="sicilian-pizza-topping-3" type="text/x-handlebars-template">
            <select id="selected-sicilian-pizza-topping-3-order" name="selected-sicilian-pizza-topping-3-order">
                <option value="Choose your sicilian pizza topping 3">Choose your sicilian pizza topping 3</option>
                <option value="Pepperoni">Pepperoni</option>
                <option value="Sausage">Sausage</option>
                <option value="Mushrooms">Mushrooms</option>
                <option value="Onions">Onions</option>
                <option value="Canadian Bacon">Canadian Bacon</option>
                <option value="Pineapple">Pineapple</option>
                <option value="Eggplant">Eggplant</option>
                <option value="Tomato & Basil">Tomato & Basil</option>
                <option value="Green Peppers">Green Peppers</option>
                <option value="Hamburger">Hamburger</option>
                <option value="Spinach">Spinach</option>
                <option value="Artichoke">Artichoke</option>
                <option value="Buffalo Chicken">Buffalo Chicken</option>
                <option value="Barbecue Chicken">Barbecue Chicken</option>
                <option value="Anchovies">Anchovies</option>
                <option value="Black Olives">Black Olives</option>
                <option value="Fresh Garlic">Fresh Garlic</option>
                <option value="Zucchini">Zucchini</option>
            </select>
            </script>
            <script id="sicilian-pizza-size" type="text/x-handlebars-template">
            <select id="selected-sicilian-pizza-size-order" name="selected-sicilian-pizza-size-order" onchange='if(this.value != "Choose your size") setSicilianPizzaSize();'>
                <option value="Choose your size">Choose your size</option>
                <option value="SM">Small</option>
                <option value="LR">Large</option>
            </select>
            </script>
            <script id="subs-type" type="text/x-handlebars-template">
            <select id="selected-subs-type-order" name="selected-subs-type-order" onchange='if(this.value != "Choose your subs type") setSubsType();'>
                <option value="Choose your subs type">Choose your subs type</option>
                <option value="Cheese">Cheese</option>
                <option value="Italian">Italian</option>
                <option value="Ham + Cheese">Ham + Cheese</option>
                <option value="Meatball">Meatball</option>
                <option value="Tuna">Tuna</option>
                <option value="Turkey">Turkey</option>
                <option value="Chicken Parmigiana">Chicken Parmigiana</option>
                <option value="Eggplant Parmigiana">Eggplant Parmigiana</option>
                <option value="Steak">Steak</option>
                <option value="Steak + Cheese">Steak + Cheese</option>
                <option value="Sausage, Peppers & Onions">Sausage, Peppers & Onions</option>
                <option value="Hamburger">Hamburger</option>
                <option value="Cheeseburger">Cheeseburger</option>
                <option value="Fried Chicken">Fried Chicken</option>
                <option value="Veggie">Veggie</option>
            </select>
            </script>
            <script id="subs-adds" type="text/x-handlebars-template">
            <select id="selected-subs-adds-order" name="selected-subs-adds-order">
                <option value="Choose your subs adds">Choose your subs adds</option>
                <option value="None">None</option>
                <option value="Mushrooms">Mushrooms</option>
                <option value="Green Peppers">Green Peppers</option>
                <option value="Onions">Onions</option>
                <option value="Extra Cheese on any sub">Extra Cheese on any sub</option>
            </select>
            </script>
            <script id="subs-size" type="text/x-handlebars-template">
            <select id="selected-subs-size-order" name="selected-subs-size-order" onchange='if(this.value != "Choose your size") setSubsSize();'>
                <option value="Choose your size">Choose your size</option>
                <option value="SM">Small</option>
                <option value="LR">Large</option>
            </select>
            </script>
            <script id="pasta-type" type="text/x-handlebars-template">
            <select id="selected-pasta-type-order" name="selected-pasta-type-order" onchange='if(this.value != "Choose your pasta type") setPastaType();'>
                <option value="Choose your pasta type">Choose your pasta type</option>
                <option value="Baked Ziti w/Mozzarella">Baked Ziti w/Mozzarella</option>
                <option value="Baked Ziti w/Meatballs">Baked Ziti w/Meatballs</option>
                <option value="Baked Ziti w/Chicken">Baked Ziti w/Chicken</option>
            </select>
            </script>
            <script id="salad-type" type="text/x-handlebars-template">
            <select id="selected-salad-type-order" name="selected-salad-type-order" onchange='if(this.value != "Choose your salad type") setSaladType();'>
                <option value="Choose your salad type">Choose your salad type</option>
                <option value="Garden Salad">Garden Salad</option>
                <option value="Greek Salad">Greek Salad</option>
                <option value="Antipasto">Antipasto</option>
                <option value="Salad w/Tuna">Salad w/Tuna</option>
            </select>
            </script>
            </script>
            <script id="dinner-platters-type" type="text/x-handlebars-template">
            <select id="selected-dinner-platters-type-order" name="selected-dinner-platters-type-order" onchange='if(this.value != "Choose your dinner-platters type") setDinnerPlattersType();'>
                <option value="Choose your dinner-platters type">Choose your dinner-platters type</option>
                <option value="Garden Salad">Garden Salad</option>
                <option value="Greek Salad">Greek Salad</option>
                <option value="Antipasto">Antipasto</option>
                <option value="Baked Ziti">Baked Ziti</option>
                <option value="Meatball Parm">Meatball Parm</option>
                <option value="Chicken Parm">Chicken Parm</option>
            </select>
            </script>
            <script id="dinner-platters-size" type="text/x-handlebars-template">
            <select id="selected-dinner-platters-size-order" name="selected-dinner-platters-size-order" onchange='if(this.value != "Choose your size") setDinnerPlattersSize();'>
                <option value="Choose your size">Choose your size</option>
                <option value="SM">Small</option>
                <option value="LR">Large</option>
            </select>
            </script>
            <script id="add-to-cart" type="text/x-handlebars-template">
            <button>Add to Shopping Cart</button>
            </script>
        </form>
        {% if added_to_cart %}
        <p>Added to Cart Successfully!</p>
        {% endif %}
        <button type="button" onclick="window.location.href ={% url 'cart' %}">View Cart({{ cart_count }})</button>
        <p><a href="{% url 'logout' %}">logout</a></p>
        <script>
            form = document.getElementById('form')
            add_to_cart = document.getElementById('add-to-cart').innerHTML
            regular_pizza_type = document.getElementById('regular-pizza-type').innerHTML
            regular_pizza_size = document.getElementById('regular-pizza-size').innerHTML
            regular_pizza_topping_1 = document.getElementById('regular-pizza-topping-1').innerHTML
            regular_pizza_topping_2 = document.getElementById('regular-pizza-topping-2').innerHTML
            regular_pizza_topping_3 = document.getElementById('regular-pizza-topping-3').innerHTML
            sicilian_pizza_type = document.getElementById('sicilian-pizza-type').innerHTML
            sicilian_pizza_size = document.getElementById('sicilian-pizza-size').innerHTML
            sicilian_pizza_topping_1 = document.getElementById('sicilian-pizza-topping-1').innerHTML
            sicilian_pizza_topping_2 = document.getElementById('sicilian-pizza-topping-2').innerHTML
            sicilian_pizza_topping_3 = document.getElementById('sicilian-pizza-topping-3').innerHTML
            subs_type = document.getElementById('subs-type').innerHTML
            subs_adds = document.getElementById('subs-adds').innerHTML
            subs_size = document.getElementById('subs-size').innerHTML
            pasta_type = document.getElementById('pasta-type').innerHTML
            salad_type = document.getElementById('salad-type').innerHTML
            dinner_platters_type = document.getElementById('dinner-platters-type').innerHTML
            dinner_platters_size = document.getElementById('dinner-platters-size').innerHTML
            
            function setOrder() {
                selected_order = document.getElementById('selected-order').value
                switch(selected_order) {
                    case 'Regular Pizza':
                        form.insertAdjacentHTML('beforeend', regular_pizza_type)
                        break
                    case 'Sicilian Pizza':
                        form.insertAdjacentHTML('beforeend', sicilian_pizza_type)
                        break
                    case 'Subs':
                        form.insertAdjacentHTML('beforeend', subs_type)
                        break
                    case 'Pasta':
                        form.insertAdjacentHTML('beforeend', pasta_type)
                        break
                    case 'Salad':
                        form.insertAdjacentHTML('beforeend', salad_type)
                        break
                    case 'Dinner Platters':
                        form.insertAdjacentHTML('beforeend', dinner_platters_type)
                        break
                }          
            }

            function setRegularPizzaType() {
                selected_regular_pizza_type_order = document.getElementById('selected-regular-pizza-type-order').value
                switch(selected_regular_pizza_type_order) {
                    case '1':
                        form.insertAdjacentHTML('beforeend', regular_pizza_topping_1)
                        break
                    case '2':
                        form.insertAdjacentHTML('beforeend', regular_pizza_topping_1)
                        form.insertAdjacentHTML('beforeend', regular_pizza_topping_2)
                        break
                    case '3':
                        form.insertAdjacentHTML('beforeend', regular_pizza_topping_1)
                        form.insertAdjacentHTML('beforeend', regular_pizza_topping_2)
                        form.insertAdjacentHTML('beforeend', regular_pizza_topping_3)
                        break
                }
                form.insertAdjacentHTML('beforeend', regular_pizza_size)
            }

            function setRegularPizzaSize() {
                selected_regular_pizza_size_order = document.getElementById('selected-regular-pizza-size-order').value
                form.insertAdjacentHTML('beforeend', add_to_cart)
            }

            function setSicilianPizzaType() {
                selected_sicilian_pizza_type_order = document.getElementById('selected-sicilian-pizza-type-order').value
                switch(selected_sicilian_pizza_type_order) {
                    case '1':
                        form.insertAdjacentHTML('beforeend', sicilian_pizza_topping_1)
                        break
                    case '2':
                        form.insertAdjacentHTML('beforeend', sicilian_pizza_topping_1)
                        form.insertAdjacentHTML('beforeend', sicilian_pizza_topping_2)
                        break
                    case '3':
                        form.insertAdjacentHTML('beforeend', sicilian_pizza_topping_1)
                        form.insertAdjacentHTML('beforeend', sicilian_pizza_topping_2)
                        form.insertAdjacentHTML('beforeend', sicilian_pizza_topping_3)
                        break
                }
                form.insertAdjacentHTML('beforeend', sicilian_pizza_size)
            }

            function setSicilianPizzaSize() {
                selected_sicilian_pizza_size_order = document.getElementById('selected-sicilian-pizza-size-order').value
                form.insertAdjacentHTML('beforeend', add_to_cart)
            }

            function setSubsType() {
                selected_subs_type_order = document.getElementById('selected-subs-type-order').value
                form.insertAdjacentHTML('beforeend', subs_adds)
                form.insertAdjacentHTML('beforeend', subs_size)
            }

            function setSubsSize() {
                selected_subs_size_order = document.getElementById('selected-subs-size-order').value
                form.insertAdjacentHTML('beforeend', add_to_cart)
            }

            function setPastaType() {
                selected_pasta_type_order = document.getElementById('selected-pasta-type-order').value
                form.insertAdjacentHTML('beforeend', add_to_cart)
            }

            function setSaladType() {
                selected_salad_type_order = document.getElementById('selected-salad-type-order').value
                form.insertAdjacentHTML('beforeend', add_to_cart)
            }

            function setDinnerPlattersType() {
                selected_dinner_platters_type_order = document.getElementById('selected-dinner-platters-type-order').value
                form.insertAdjacentHTML('beforeend', dinner_platters_size)
            }

            function setDinnerPlattersSize() {
                selected_dinner_platters_size_order = document.getElementById('selected-dinner-platters-size-order').value
                form.insertAdjacentHTML('beforeend', add_to_cart)
            }

        </script>
    </body>
</html>

