Regular_pizza_orders:
<ul>
    {% for regular_pizza in regular_pizzas %}
    <li>size: {{regular_pizza.size}} number_of_toppings: {{regular_pizza.number_of_toppings}} price: {{regular_pizza.price}} user: {{regular_pizza.user}}</li>
    {% endfor %}
</ul>
Sicilian_pizza_orders:
<ul>
    {% for sicilian_pizza in sicilian_pizzas %}
    <li>size: {{sicilian_pizza.size}} number_of_toppings: {{sicilian_pizza.number_of_toppings}} price: {{sicilian_pizza.price}} user: {{sicilian_pizza.user}}</li>
    {% endfor %}
</ul>
Sub_orders:
<ul>
    {% for sub in subs %}
    <li>sub: {{sub.sub}} size: {{sub.size}} adds: {{sub.adds|default:"None"}} price: {{sub.price}} user: {{sub.user}}</li>
    {% endfor %}
</ul>
Pasta_orders:
<ul>
    {% for pasta in pastas %}
    <li>pasta: {{pasta.pasta}} price: {{pasta.price}} user: {{pasta.user}}</li>
    {% endfor %}
</ul>
Salad_orders:
<ul>
    {% for salad in salads %}
    <li>salad: {{salad.salad}} price: {{salad.price}} user: {{salad.user}}</li>
    {% endfor %}
</ul>
DinnerPlatters_orders:
<ul>
    {% for dinner_platter in dinner_platters %}
    <li>dinner_platter: {{dinner_platter.dinner_platter}} size: {{dinner_platter.size}} price: {{dinner_platter.price}} user: {{dinner_platter.user}}</li>
    {% endfor %}
</ul>