<h3>title: {{ book.title }}</h3>
<h3>author: {{ book.author }}</h3>
<h3>publication year: {{ book.year }}</h3>
<h3>ISBN number: {{ book.isbn }}</h3>
{% for review in reviews %}
<div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s; width: 40%;">
    <h4><b>Rating: {{ review.rating }}</b></h4> 
    <p>{{ review.description }}</p> 
</div>
{% endfor %}
{% if not review_submitted %}
<form method="post">
    Rate this book
    <input type="number" name="rating" min="1" max="5" required/>
    Type a small description about the book
    <input type="text" name="description" required/>
    <button>submit review</button>
</form>
{% endif %}