<html onmouseover="document.querySelector('title').innerHTML='project 2'">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
        <script id="display-name-not-available" type="text/x-handlebars-template">
            <input type="text" id="display-input" placeholder="Enter your display name">
            <button class="clickable" onclick="createDisplayName()">Submit</button>    
        </script>
        <script id="display-name-available" type="text/x-handlebars-template">
            {% raw %}
            {{#if error}}
            <p style="color: red;">channel already exists. Please choose another name!</p>
            {{/if}}
            <input type="text" id="channel-input" placeholder="Channel name">
            <button class="clickable" onclick="createChannel()">Create new Channel</button>
            <ul>
                {{#each channels}}
                  <li><a href="javascript:;" class="clickable" onclick= "chooseChannel(this)">{{this}}</a></li>
                {{/each}}
            </ul>
            {{#if channel}}
            <input type="text" id="message-input" placeholder="Type a message">
            <button class="clickable" onclick="createMessage()">Send</button>
            {{#if messages}}
            <ul>
                {{#each messages}}
                <li>user: {{this.display_name}} said {{this.message}} at {{this.time_stamp}}</li>
                {{/each}}
            </ul>
            {{/if}}
            {{/if}}
            {% endraw %}
        </script>
        <script>
            error = false
            socket=io()
            index = function () {
                source = localStorage.getItem("display-name") ? document.querySelector("#display-name-available").innerHTML: document.querySelector("#display-name-not-available").innerHTML
                template = Handlebars.compile(source)
                channels = JSON.parse(localStorage.getItem('channels'))
                channel = localStorage.getItem('channel')
                messages = JSON.parse(localStorage.getItem('messages'))
                context = {channels: channels, channel: channel, messages: messages, error: error}
                error = false
                html = template(context)
                document.querySelector("#main").innerHTML=html
                document.querySelectorAll('.clickable').forEach(clickable => clickable.addEventListener('click', index)) 
            }

            createDisplayName = function () {
                localStorage.setItem('display-name', document.querySelector('#display-input').value)
            }

            createChannel = function () {
                channels = JSON.parse(localStorage.getItem('channels')) || []
                channel = document.querySelector('#channel-input').value
                if (channels.includes(channel)) {
                    error = true
                }
                else {
                    channels.push(channel)
                    localStorage.setItem('channels', JSON.stringify(channels))
                    request = new XMLHttpRequest()
                    request.open('POST', '/channel', true)
                    request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8')
                    request.send(JSON.stringify({channel: channel}))
                }
            }

            chooseChannel = function (channel) {
                localStorage.setItem('channel', channel.innerHTML)
            }
            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }

            createMessage = function () {
                channel = localStorage.getItem('channel')
                message = document.querySelector('#message-input').value
                display_name = localStorage.getItem('display-name')
                time_stamp = new Date().toGMTString()
                socket.emit('create_message',{ channel: channel, message: message, display_name: display_name, time_stamp: time_stamp })
            }

            window.addEventListener('DOMContentLoaded', index)
            socket.on('messages',async function(messages) {
                localStorage.setItem('messages', JSON.stringify(messages['messages']))
                await sleep(10);
                document.querySelector('title').innerHTML='new message received!'
                index()
                })            
        </script>
        <title>
            project 2
        </title>
    </head>
    <body>
        <div id="main"></div>
    </body>
</html>
